{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}

            {{ form.username.label_tag }}
            {{ form.username }}
            <br>

            {{ form.password.label_tag }}
            {{ form.password }}
            <br>

            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
