{% extends "base.html" %}

{% block title %}Create a New Task{% endblock %}

{% block content %}
    <div>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}
